<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServer"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=localhost,1433;Initial Catalog=CarRental;User Id=sa;******;TrustServerCertificate=True;" />
	</connectionStrings>

	<appSettings>
		<add key ="databaseName" value="SqlServer"/>
	</appSettings>
</configuration>